/* Estilos Generales */
a{
    text-decoration: none;
    color: white;
}
/* Header */
header{
    background-color: #E6E6E6;
    text-align: center;
}
h1{
    font-size: 35px;
}
/* Main */
h2{
    font-size: 20px;
    padding: 4px 8px;
}
h1,h2{
    background-color: #C4C4C4;
    color: #005677;
    letter-spacing: 10px;

}
.section{
    margin: 0 auto;
    width: 60%;
    
}
.datos-personales{
    font-size: 15px;
}
.destacado{
    font-weight: bold;
}
.item{
    font-size: 15px;
    margin-bottom: 8px;
}
dd{
    margin-left: 74px;
}
dl{
    margin-left: 38px;
}
/* Footer*/
footer{
    color: white;
    background-color: #005677;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    
}
.redes{
    margin-right: 4px;
}